<div class="cover">
    <img src="/assets/img/about-cover.jpg" alt="">
    <div class="leading">
        <h3>椿工藝舎について</h3>

        <p>神奈川県横浜市の外れでギター・革製品・帆布製品・木製自転車などを製作している工房です。</p>
        <ul>
            <li><a href="https://tsubakicraft.netlify.com/" target="_blank">ホームページ</a></li>
            <li><a href="https://tsubaki-guitars.netlify.com/" target="_blank">ギター製品のご紹介</a></li>
            <li><a href="https://woodbike-tsubakicraft.netlify.com/" target="_blank">木の自転車のご紹介</a></li>
            <li><a href="https://tsubakicraft.wordpress.com" target="_blank">工房のブログ</a></li>
            <li><a href="https://twitter.com/tsubaki_kougei" target="_blank">公式Twitter</a></li>
            <li><a href="https://www.facebook.com/tsubaki.kougei" target="_blank">Facebookページ</a></li>
        </ul>
    </div>
</div>